.searchContainer {
    border: 3px solid rgb(45, 114, 241);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    width : 460px;
}

.searchContainerFocus {
    border: 3px solid rgb(45, 114, 241);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    width : 460px;
    box-shadow: 1px 2px 4px rgb(73, 73, 73);
}

.searchField {
    height: 60px;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    border: none;
    border-radius: 15px;
}

.searchField:focus {
    outline: none;
}

.searchButton {
    height: 62px;
    width: 62px;
    background-color: white;
    border: 3px solid rgb(45, 114, 241);
    border-top: 2px solid rgb(45, 114, 241);
    border-bottom: 2px solid rgb(45, 114, 241);
    border-right: 2px solid rgb(45, 114, 241);
    border-radius: 20%;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    border-radius: 40px;
    height: 550px;
    width: 1100px;
    margin-top: 30px;
    box-shadow: 5px 8px 8px #888888;
}

.imageFrame {
    display: flex;
    justify-content: center;
    height: 480px;
    width: 420px;
    border-radius: 40px;
    margin-left: 30px;
    background: linear-gradient(225deg, #ffffff, #ece7e7);
    box-shadow: 2px 3px 5px #5e5e5e;
}

.tempFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    width: 600px;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-shadow: 1px 1px 3px rgb(99, 99, 99);
    margin-left: 50px;
}

.temp {
    font-size: 150px;
}

.weather {
    font-size: 90px;
}

.visible {
    display: block;
}

.none {
    display: none;
}